.idea/
/vendor/
/var/
/build/
/xdebug/
/web/uploads
.phpunit.cache/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# mkdocs documentation
/site
