/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: left;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

#loading-spinner,
#generated-image-div,
#error-options,
#source-image-caption,
#generated-url-container {
    display: none;
}

#generated-url {
    overflow-wrap: anywhere;
}

#error-options {
    margin: 10px 0;
}

#url-info{
    margin: 0 10px;
}

.btn-clipboard {
    display: block;
    padding: 0.5em;
    line-height: 1;
    color: var(--bs-body-color);
    background-color: var(--bd-pre-bg);
    border: 0;
    border-radius: 0.25rem;
}

#dynamic-input-fields .input-group div {
    margin: 5px 5px;
}

